- provide(:title, "About")
.row
  .12-small.columns
    %h1 About Canine Connector
    %p
      The idea for Canine Connector began when the creator, JL Phillips and his wife Nicole, found a beautiful Siberian Husky scared and alone on a hiking trail. The dog didn't have any tags on her collar and the couple had no idea how to find her owners. Even though this story ended happily when they safely rehomed this dog, they spent a full day trying to post on social media accounts, and trying to find out who in the area could temporarily house her. Since that time, the couple has found several lost dogs wandering the street and couldn't help but notice the amount of people who ignored the dogs.

    %p
      After talking about the incident a few weeks later, Nicole wondered if some of those people might have taken the time to help a lost four-legged friend if the process of finding either the owner or a safe place for the dog were easier. And thus, the idea for Canine Connector was born!

    %p
      Now, instead of spending hours fruitlessly trying to reach a pet owner and either releasing the dog to fend for itself or calling the pound where the dog is likely to be euthanized, Canine Connector is a place where people can post onto the "LOST" or "FOUND" dog section to connect lost animals with their families.

    %p
      More importantly, Canine Connector has the dog's safety in mind so that those who find dogs can verify that the person claiming the pet is, in fact, the owner. Instead of using Craigslist or other similar websites that are notorious for enabling criminals to pick up free dogs and use them as bait for dog fighting rings or other dangerous conditions, Canine Connector provides educational information on red flags to look for as well as requires the alleged owner to provide proof of ownership.

    %p
      If dogs can't get returned back to their original homes, Canine Connector also provides up-to-date information on no-kill dog and breed-specific rescue organizations for the dogs to become rehomed.
