@import "foundation_and_overrides";
/* Add imports of custom sass/scss files here *//*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides

 *= require_tree .
 */
@import "active_admin/mixins";
@import "active_admin/base";
@import url(http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister);
@mixin border_radius {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
@mixin box_shadow {
  -webkit-box-shadow: 0px 0px 15px black;
  -moz-box-shadow: 0px 0px 15px black;
  box-shadow: 0px 0px 15px black;
}


body {
  background: url('bg.jpg') fixed center no-repeat;
  background-size: cover;

// -----------------------------------------------[YOUR DOGS]----------------->
.your-dogs {
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 50px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: -15px;
  color: white;
}

#your-dogs-main {
    width: 80%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    font-family: 'Love Ya Like A Sister', cursive;
    margin: auto;
    @include border_radius;

    .index-dog-right {
      img {
        height: 220px;
        width: auto;
        position: absolute;
        top: 280px;
        // right: -160px;
        right: -150px;
      }
    }

    .index-dog-left {
      img {
        height: 40px;
        width: auto;
        position: absolute;
        top: 450px;
        left: 35px;
      }
    }

    #your-dogs-lost, #your-dogs-found, {
      height: 600px;
      width: 50%;
      float: left;

      .recent-title, .see-all {
        color: white;
        text-align: center;
        padding-top: 30px;
      }

      .see-all {
        padding-top: 10px;
        a {
          color: white;
          text-decoration: none;
          &:hover {
            color: gray;
          }
        }
      }

      .mini-dog {
        height: 110px;
        width: 90%;
        // float: left;
        margin: 5px auto;
        // background-color: #b0b0b0;
        // background-color: #818080;
        background-color: white;
        background: url('paper3.jpg') center no-repeat;
        background-size: cover;
        // @include border_radius;
        @include box_shadow;


        .dog-picture {
          img {
            margin: 1.3%;
            margin-left: 2%;
            margin-right: 0px;
            height: 100px;
            width: 138px;
            float: left;
            position: relative;
            z-index: 10;
            // @include border_radius;
            &:hover {
              @include box_shadow;
            }
          }
        }

        .dog-specs {
          text-align: center;
          height: 100%;
          margin: auto;
          padding-top: 5px;

          .dogname {
            // display: inline-block;
            color: #4680ac;
            width: 100%;
            margin: auto;
            padding: none;
            // text-shadow: 1.5px 1.5px #282828;

            a {
              text-decoration: none;
              color: #226ca5;

              &:hover {
                color: #ff7f00;
              }
            }
          }

          .dogbreed {
            position: relative;
            color: #00741d;
            // top: -10px;
            // text-shadow: 1.5px 1.5px #282828;
          }

          .dogage {
            position: relative;
            top: -10%;
            color: #9c0a0a;
            // text-shadow: 1.5px 1.5px #282828;
          }
        }
      }
    }
  }

// -----------------------------------------------[DOG PROFILE]----------------->

  .back-arrow {
    height: 40px;
    width: 60px;
    position: absolute;
    top: 40px;
    left: 150px;
  }

  #myModal {
    background: url('paper3.jpg') center no-repeat;
    background-size: cover;
    font-family: "Love Ya Like A Sister", cursive;
    .contact-button {
      margin: auto;
    }
    h2 {
      text-align: center;
    }
    p {
      text-align: center;
    }
  }

  .think {
    padding-top: 25px;
    padding-bottom: 10px;
    font-family: "Love Ya Like A Sister", cursive;
    font-size: 50px;
    text-align: center;
    // margin-bottom: -5px;
    text-decoration: none;
    color: white;
    display: block;
    line-height: 45px;

    &:hover {
      color: gray;
    }
    a {
      text-decoration: none;
      color: white;
      &:hover {
        color: gray;
      }
    }
  }

  .controls-ul {
    width: 195px;
    padding-top: 10px;
    padding-left: 0px;
    margin: auto;
    li {
      display: inline;
      text-decoration: none;
      margin: 5px;
      .controls {
        text-decoration: none;
        display:inline;
        font-family: "Love Ya Like A Sister", cursive;
        a {
          text-decoration: none;
          color: white;
          &:hover {
            color: gray;
          }
        }
      }
    }
  }

  .dog-profile-container {
    width: 70%;
    height: 100%;
    margin: auto;
    margin-top: 20px;
    font-family: "Love Ya Like A Sister", cursive;
    background-color: rgba(0,0,0,0.5);
    // @include border_radius;
    background: url('paper3.jpg') center no-repeat;
    background-size: cover;
    @include box_shadow;

    .user-tag {
      margin: auto;
      position: relative;
      top: 5px;
        h2 {
          color: black;
        }
      .user-image-name {
        height: 40px;
        width: 200px;
        margin: auto;
        margin-bottom: 20px;
        margin-top: -20px;

        h2 {
          color: black;
          float: left;
          position: relative;
          top: 25px;
          left: 10px;
        }

        img {
          height: 40px;
          width: 40px;
          float: left;
          @include border_radius;
        }
      }
    }

    .dogatar {
      padding-top: 20px;
      height: 50%;
      width: 50%;
      margin: auto;

      img {
        // height: 200px;
        // width: 280px;
        height: auto;
        width: 100%;
        margin: auto;
        // @include border_radius;
      }
    }

    .dog-stats {
      padding-top: 10px;
      h1, h2, h3 {
        text-align: center;
      }

      h1 {
        font-size: 70px;
        color: #ff7f00;
      }

      h2 {
        margin-top: -20px;
      }

      .breed {
        margin-top: -30px;
        color: #00741d;
      }

      .gender {
        color: #9c0a0a;
      }

      .age {
        color: #4680ac;
      }

      .responds-to {
        color: #ff7f00;
      }

      .features {
        color: #00741d;
      }

      .location {
        color: #9c0a0a;

      }
      .date {
        color: #4680ac !important;
      }

      .unique-features {
        margin-top: -15px;
        color: #ff7f00 !important;
      }
    }
  }

// -----------------------------------------------[POST DOG]----------------->

  .new-dog-form {
    width: 60%;
    height: auto;
    position: relative;
    left: 65px;
    margin: auto;
    padding-top: 30px;
    font-family: "Love Ya Like A Sister", cursive;

    input:not(#dog_picture) {
      background-color: #e3e3e3;
    }

    select {
      width: 76.5%;
    }

    #dog_picture  {
      color: gray;
    }

    label {
      font-size: 15px;
    }

    h1, label {
      color: white;
    }
  }

  .new-dog-dog {
    img {
      height: 400px;
      float: left;
      width: auto;
      position: absolute;
      top: 300px;
      left: -45px;
    }
  }

// -----------------------------------------------[SIGN UP]----------------->

  .sign-up-form {
    width: 60%;
    height: auto;
    position: relative;
    left: 65px;
    margin: auto;
    padding-top: 50px;
    font-family: "Love Ya Like A Sister", cursive;
    overflow: hidden;

    abbr {
      color: #ff7f00;
    }

    h1, #user_user_image {
      color: white;
    }

    label {
      color: gray;
    }
  }

  .sign-up-dog {

    img {
      height: 400px;
      float: left;
      width: auto;
      position: absolute;
      top: 350px;
      left: 75px;
    }

  }
// -----------------------------------------------[SIGN IN]----------------->

  .sign-in-form {
    width: 50%;
    height: 100%;
    margin: auto;
    padding-top: 50px;
    font-family: 'Love Ya Like A Sister', cursive;
    h1 {
      color: white;
    }
    label {
      color: gray;
    }
  }

// -----------------------------------------------[HOME]----------------->
  #home-page-main {
    width: 80%;
    height: 600px;
    background-color: rgba(0,0,0,0.2);
    font-family: 'Love Ya Like A Sister', cursive;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;
    @include border_radius;

    .index-dog-right {
      img {
        height: 400px;
        float: right;
        width: auto;
        position: absolute;
        top: 280px;
        // right: -160px;
        right: -110px;
      }
    }

    .index-dog-left {
      img {
        height: 380px;
        float: right;
        width: auto;
        position: absolute;
        top: 20px;
        left: -65px;
      }
    }

    #home-page-lost, #home-page-found {
      height: 600px;
      width: 50%;
      float: left;

      .recent-title, .see-all {
        color: white;
        text-align: center;
        padding-top: 30px;
      }

      .see-all {
        padding-top: 10px;
        a {
          color: white;
          text-decoration: none;
          &:hover {
            color: gray;
          }
        }
      }

      .mini-dog {
        height: 110px;
        width: 90%;
        // float: left;
        margin: 5px auto;
        // background-color: #b0b0b0;
        // background-color: #818080;
        background-color: white;
        background: url('paper3.jpg') center no-repeat;
        background-size: cover;
        // @include border_radius;
        @include box_shadow;


        .dog-picture {
          img {
            margin: 1.3%;
            margin-left: 2%;
            margin-right: 0px;
            height: 100px;
            width: 138px;
            float: left;
            position: relative;
            z-index: 10;
            // @include border_radius;
            &:hover {
              @include box_shadow;
            }

          }
        }

        .dog-specs {
          text-align: center;
          height: 100%;
          margin: auto;
          padding-top: 5px;

          .dogname {
            // display: inline-block;
            color: #4680ac;
            width: 100%;
            margin: auto;
            padding: none;
            // text-shadow: 1.5px 1.5px #282828;

            a {
              text-decoration: none;
              color: #226ca5;

              &:hover {
                color: #ff7f00;
              }
            }
          }

          .dogbreed {
            position: relative;
            color: #00741d;
            // top: -10px;
            // text-shadow: 1.5px 1.5px #282828;
          }

          .dogage {
            position: relative;
            top: -10%;
            color: #9c0a0a;
            // text-shadow: 1.5px 1.5px #282828;
          }
        }
      }
    }

    #home-page-lost {

    }

    #home-page-found {

    }
  }


// -----------------------------------------------[ALERTS]----------------->

  .alert {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 25px;
    color: white;
    padding: 10px;
    text-align: center;
    background-color: rgba(0,0,0,0.2);
    margin-bottom: 10px;
  }

// -----------------------------------------------[HEADER]----------------->

  .top-bar {

    .left, .right {
      a {
        font-family: 'Love Ya Like A Sister', cursive;
      }
    }

    .logo {
      // background: url('cc-logo.png') center no-repeat;
      // background-size: 100%;

      height: 35px;
      width: 35px;
      float: left;
      position: relative;
      top: 5px;

      img {
        height: 35px;
        width: auto;
      }
    }

    .navbar-link {
      font-family: 'Love Ya Like A Sister', cursive;
      font-size: 20px;
    }

  .name {
      float: left;
      position: relative;
      left: -5px;
      h1 {
        font-family: 'Love Ya Like A Sister', cursive;
        font-size: 25px;
      }
    }

    .header-avatar, {
      height: 40px;
      width: 40px;
      @include border_radius;
      float: left;
      position: relative;
      top: 3px;

      img {
        height: 40px;
        width: auto;
        float: right;
        @include border_radius;
      }
    }

    a {
      text-decoration: none !important;
    }
  }

// -----------------------------------------------[FOOTER]----------------->

  .footer {
    color: gray;
    width: 480px;
    margin: auto;

    .footer-logo {
      img {
        height: 20px;
        width: 20px;
        float: left;
      }
    }


    a {
      font-size: 15px;
      color: white;
      text-decoration: none;
      &:hover {
        color: gray;
      }
    }

    small {
      padding-top: 4px;
      font-family: 'Love Ya Like A Sister', cursive;
      float: left;
      font-size: 13px;
    }

    ul {
      display: inline;
      float: left;
      padding: 0px !important;

      li {
        padding-left: 5px;
        display: inline;
        font-family: 'Love Ya Like A Sister', cursive;
      }
    }
  }
}